.color-swatch {
    height: 100px;
    width: 100%;
}

.swatch-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

}