.color-swatch {
    height: 100px;
    width: 100px;
    border-radius: .5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0.05), 0 0 25px rgba(0, 0, 0, .05);
}

.swatch-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;

}